<% include ./partials/header %>

<div class="ui main text container piled segment">
    <div class="ui center aligned huge header">Project Management System</div>
        <div class="ui divider"></div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <a class="header">What is a Project Management System?</a>
                  <div class="description">
                    <p>Managing a project involves many different aspects and many things that have to be tracked and followed up upon. You have to determine project tasks, create a schedule, assign resources, and identify and track issues and risks. That's just the tip of the iceberg; as a project manager, you are responsible for the overall success of a project. How can you can successfully track all those different aspects of a project?</p>
                    <p>A <strong>project management system</strong> is a means of managing a project by planning, organizing, and managing its different required aspects. Depending on the sophistication of the project management system, it can include:</p>  
                    <ul>
                        <li>Estimation activities</li>
                        <li>Scheduling</li>
                        <li>Cost control and budget management</li>
                        <li>Resource allocation</li>
                        <li>Quality management</li>
                        <li>Risk management</li>
                        <li>Change control</li>
                        <li>Decision-making managing</li>
                    </ul>
                    <p>Project management systems fall into two very broad categories: general software applications and project management software applications.</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="content">
                  <a class="header">General Software Applications</a>
                  <div class="description">
                    <p>General software applications are software used for a broad variety of tasks, not necessarily project management related. Examples of general software applications include:</p>  
                    <ul>
                        <li>Spreadsheets</li>
                        <li>Word processing</li>
                        <li>Graphics editing</li>
                        <li>Databases</li>
                    </ul>
                    <p>While general software applications aren't designed specifically for project management, they can help plan, organize and manage projects. Spreadsheets are the most common manual project management system. You can create documents that are easy to read and share with the project team. If needed, the spreadsheet can be password protected for confidentiality.</p>
                    <p>Additionally, spreadsheets have some capabilities that are helpful in managing a project. You can create separate tabs for the different aspects of the project. You may have a tab for the schedule, one for the communication plan, one for identified risks, one for outstanding issues, and one for the budget. You can easily update each section as required and share the whole workbook or an individual tab as required. Spreadsheets can also contain formulas and macros that will automate some functions, making them easier to use.</p>
                    <p>Using general software applications is a good choice when the project is:</p>
                    <ul>
                        <li>Short term</li>
                        <li>Low risk</li>
                        <li>Simple</li>
                    </ul>
                    <p>Given this criteria, a spreadsheet would work nicely for a project such as updating well-tested firmware on a small number of servers in a single location. In this project, the risks are minimal because the firmware has been previously tested, there is a small number of servers to deploy the firmware, and the impact of failure would be limited because it's a single location. For this, the schedule would likely be fairly simple and straightforward with only a few resources, and extensive or complicated coordination and tracking of other project aspects is unlikely.</p>
                    <p>However, the more complex the project, the more difficulty you will have in managing all the different aspects of the project. For this, a software application specifically designed for project management would make your job easier.</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="content">
                  <a class="header">Project Management Software Applications</a>
                  <div class="description">
                    <p><strong>Project management-specific software applications</strong> are specifically designed for project management and have many project management functions and tasks automated and built into them. There are many, many project management software products available on the market today, with a wide range of capabilities. Some software focuses strictly on the scheduling aspect of project management, while others can accommodate the full life cycle of a project, from estimation to invoicing a customer.</p>  
                    <p>Project management systems that focus on scheduling allow you to enter project tasks, estimated time to complete, start and stop dates, and resource assignments. These types of software typically allow you to manage more than one project in a single location, rather than having a separate spreadsheet for each project. Additionally, these types of project management software usually allow for displaying the schedule in various formats, like Gantt or Program Evaluation Review Technique (PERT) charts. Both Gantt and PERT charts show a graphical representation of a schedule that is easy to understand.</p>
                    <p>Project management systems that can help manage the full life cycle of a project, from estimation to invoicing, provide extra capabilities for companies that provide project management services to other customers. With these more sophisticated software applications, the entire project lifecycle is in one location and you can more easily see relationships between different project aspects. For example, a task that was estimated to take 20 hours ends up taking 40 hours, would be reflected in the budget and on the customer invoice generated out of the software.</p>
                    <p>Using project management specific software applications is a good choice when the project is or requires:</p>
                    <ul>
                        <li>Long term</li>
                        <li>Complex</li>
                        <li>Customer invoicing</li>
                    </ul>
                    <p>Given this criteria, a project management specific software application would be a good choice for our firmware upgrade project if it became more complicated by using a less tested firmware version, if several servers at different locations were added, or if the impact of failure created a high risk to the customer.</p>
                  </div>
                </div>
              </div>
            </div>
    </div>
 </div>
<% include ./partials/footer %>